@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Kaushan Script', cursive;
*/
* {
  box-sizing: border-box; }
  *::after, *::before {
    box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

.header-wrapper {
  background: center url(img/header-background.jpg) no-repeat, linear-gradient(to bottom, #e88182, #efd889);
  background-size: cover; }

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 21px;
  height: 110px; }
  .header a {
    color: #fff; }

.header__logo {
  margin-right: 58px;
  font: bold 3rem 'Montserrat', sans-serif;
  text-decoration: none; }

.nav {
  flex-grow: 1;
  justify-content: flex-end;
  max-width: 490px;
  margin-left: auto; }

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.4rem; }
  .nav__list a {
    text-decoration: none; }

.nav__item {
  padding-bottom: 11px;
  padding-top: 11px;
  transition: box-shadow .3s ease; }

.nav__item:hover {
  box-shadow: inset 0 -3px 0 0 #fce38a; }
  .nav__item:hover a {
    padding-bottom: inherit;
    padding-top: inherit;
    color: #fce38a; }

.cart-search-wrapper {
  display: flex;
  align-items: center; }

.header-btn {
  box-sizing: content-box;
  margin-top: -5px;
  padding: 7px;
  width: 18px;
  height: 18px;
  border-radius: 50%; }
  .header-btn svg {
    fill: #fff; }
  .header-btn:hover svg {
    fill: #fce38a;
    fill: #fad154; }
  .header-btn:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.btn-card {
  display: block;
  margin-left: 47px; }
  .btn-card svg {
    margin-top: 2px; }

.btn-search {
  margin-left: 32px;
  border: 0;
  background: transparent; }
  .btn-search:hover {
    cursor: pointer; }

.menu-hamburger {
  display: none; }

@media (max-width: 750px) {
  .header {
    flex-wrap: wrap; }

  .nav {
    flex-grow: 0;
    width: 490px; }

  .nav {
    order: 1; }

  .btn-card {
    margin-left: auto; } }
.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; }

.template-heading {
  margin-top: 117px;
  margin-bottom: 20px;
  font: 7.2rem/1 'Kaushan Script', cursive; }

.welcome-heading {
  position: relative;
  font: bold 3rem/1 'Montserrat', sans-serif;
  margin-top: 24px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 46px;
  text-align: center;
  font-size: 15rem; }
  .welcome-heading::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 65px;
    left: 50%;
    transform: translateX(-50%); }
  .welcome-heading::after {
    background-color: #fff;
    top: auto;
    bottom: -50px; }

.more-info-btn {
  box-sizing: border-box;
  margin-top: 46px;
  margin-bottom: 78.5px;
  width: 160px;
  height: 40px;
  border: 3px solid #fff;
  background-color: transparent;
  text-transform: uppercase;
  font: bold 1.4rem 'Montserrat', sans-serif;
  cursor: pointer;
  color: #fff;
  transition: color .3s ease, border-color .3s ease; }
  .more-info-btn:hover {
    color: #f38181;
    border-color: #f38181;
    background-color: rgba(255, 255, 255, 0.7); }

.nav2 {
  width: 100%; }

.nav2-list {
  display: flex;
  justify-content: space-between;
  margin-top: 78.5px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  align-items: center; }
  .nav2-list a {
    text-decoration: none; }

.nav2-item {
  position: relative;
  width: 23.333333333333333333333333333333%;
  text-transform: uppercase; }
  .nav2-item a {
    display: block;
    height: 72px;
    line-height: 72px;
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    color: #faf3dc; }
    .nav2-item a:hover {
      color: #fff; }
    .nav2-item a::before, .nav2-item a::after {
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 5px;
      background-color: #f7eac4;
      background-position: 50% 0;
      transition: transform .3s ease, width .1s ease; }
    .nav2-item a::after {
      width: 100%;
      background-color: #f38181;
      transform: scaleX(0);
      transform-origin: right center; }
    .nav2-item a:hover::before {
      background-color: #fff; }
    .nav2-item a:hover::after {
      width: 25%;
      transform: none;
      transform-origin: left center; }
  .nav2-item span {
    font-weight: bold;
    font-size: 2.4rem; }

.nav2-item-active a {
  color: #fff; }
  .nav2-item-active a::before {
    background-image: linear-gradient(to right, #f38181 25%, #fff 25%); }
  .nav2-item-active a::after {
    width: 0; }

@media (max-width: 950px) {
  .template-heading {
    margin-top: 70px; }

  .template-heading {
    font-size: 4.8rem; }

  .welcome-heading {
    font-size: 10rem; }

  .more-info-btn {
    margin-bottom: 40px; }

  .nav2-list {
    margin-top: 40px; }

  .nav2-item a {
    height: 48px;
    line-height: 48px;
    font-size: 1.4rem; }
  .nav2-item span {
    font-size: 1.8rem; }
  .nav2-item a::before, .nav2-item a::after {
    height: 3px; } }
@media (max-width: 650px) {
  .template-heading {
    font-size: 2.8rem; }

  .welcome-heading {
    font-size: 6rem; }

  .nav2-list {
    flex-wrap: wrap; }

  .nav2-item {
    width: 46.666666666666666666666666666666%; } }
@media (max-width: 400px) {
  .header__logo {
    margin-right: auto;
    z-index: 2; }

  .cart-search-wrapper {
    z-index: 2; }

  .nav__list {
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
    background: linear-gradient(to bottom, #e88182 50%, transparent);
    top: -100%;
    left: 0;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: all .4s ease; }

  .nav__list-active {
    opacity: 1;
    top: 0;
    z-index: 1; }

  .template-heading {
    margin-top: 10px;
    font-size: 2.4rem; }

  .welcome-heading {
    font-size: 4rem; }

  .btn-search {
    margin-left: 20px; }

  .menu-hamburger {
    margin-left: 20px;
    display: block;
    width: 28px;
    height: 28px;
    background: transparent;
    border: none;
    padding: 3px; }
    .menu-hamburger:hover {
      cursor: pointer; }
    .menu-hamburger span {
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      vertical-align: top;
      transition: all .25s; }
      .menu-hamburger span::before, .menu-hamburger span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: -7px;
        left: 0;
        transition: all .25s; }
      .menu-hamburger span::after {
        top: 7px; }

  .menu-hamburger-active span {
    transform: rotate(45deg); }
    .menu-hamburger-active span::before {
      top: 0;
      transform: rotate(0); }
    .menu-hamburger-active span::after {
      top: 0;
      transform: rotate(90deg); } }
.profile {
  text-align: center;
  padding-top: 61px;
  padding-bottom: 110px; }

.profile-paragraph {
  font: 2.4rem/1 "Kaushan Script", cursive; }

.profile-heading {
  position: relative;
  font: bold 3rem/1 'Montserrat', sans-serif;
  margin-top: 24px;
  text-transform: uppercase;
  margin-bottom: 84px; }
  .profile-heading::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 65px;
    left: 50%;
    transform: translateX(-50%); }

.profile-text {
  margin-top: 84px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font: 1.5rem/2.4rem "Roboto", sans-serif;
  color: #999999; }

.profile-img-wrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.profile-img-item {
  width: 31.666666666666666666666666666667%;
  height: auto;
  position: relative;
  transition: transform .3s ease; }
  .profile-img-item img {
    display: block;
    width: 100%; }
  .profile-img-item::before, .profile-img-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #95e1d3;
    z-index: -1;
    transition: transform .3s ease; }
  .profile-img-item:hover::after {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    opacity: 0.9;
    z-index: 1; }
  .profile-img-item:hover {
    transform: translate(-10px, -10px); }
  .profile-img-item:hover::before {
    transform: translate(10px, 10px); }

.profile-img-item-decor::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 23px;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: url("img/users.png") no-repeat;
  transition: all .3s ease;
  opacity: 0;
  z-index: -1; }
.profile-img-item-decor::after {
  content: 'SUPER TEAM';
  font: bold 1.8rem 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  bottom: 0%;
  transition: all .3s ease;
  opacity: 0;
  z-index: -1; }

.profile-img-item:hover .profile-img-item-decor::before {
  top: 40%;
  z-index: 2;
  opacity: 1; }

.profile-img-item:hover .profile-img-item-decor::after {
  bottom: 40%;
  z-index: 2;
  opacity: 1; }

@media (max-width: 1100px) {
  .profile-img-item:hover .profile-img-item-decor::after {
    bottom: 35%; } }
@media (max-width: 1000px) {
  .profile-img-item-decor::before {
    width: 21.333333333333333333333333333333px;
    height: 15.333333333333333333333333333333px;
    background-size: contain; }

  .profile-img-item-decor::after {
    font-size: 1.4rem; } }
@media (max-width: 660px) {
  .profile-img-wrapper {
    margin-top: 50px;
    flex-direction: column;
    align-items: center; }

  .profile-img-item {
    width: auto;
    max-width: 250px; }
    .profile-img-item:not(:last-child) {
      margin-bottom: 20px; }

  .profile {
    padding-top: 30px;
    padding-bottom: 55px; }

  .profile-heading {
    margin-bottom: 60px; }

  .profile-text {
    margin-top: 60px; } }
.statistic {
  background-color: #95e1d3; }

.statistic-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 270px; }

.statistic-list-item {
  display: flex;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  border-right: 1px solid #fff;
  align-items: center; }
  .statistic-list-item div {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto; }
  .statistic-list-item span {
    display: block;
    font: bold 7.2rem/1 'Montserrat', sans-serif;
    margin-bottom: 15px; }
  .statistic-list-item:first-child {
    border-left: 1px solid #fff; }

@media (max-width: 1000px) {
  .statistic-list {
    height: 230px; }

  .statistic-list-item {
    font-size: 1.2rem; }
    .statistic-list-item span {
      font-size: 5.4rem; } }
@media (max-width: 850px) {
  .statistic-list {
    height: auto;
    flex-wrap: wrap; }

  .statistic-list-item {
    width: 50%;
    height: 90px;
    border-bottom: 1px solid #fff; }
    .statistic-list-item span {
      margin-bottom: 5px; }
    .statistic-list-item:last-child {
      flex-grow: 1;
      border-left: 1px solid #fff;
      border-bottom: none; }
    .statistic-list-item:nth-child(3) {
      border-left: 1px solid #fff; } }
@media (max-width: 660px) {
  .statistic-list {
    flex-direction: column; }

  .statistic-list-item.statistic-list-item {
    width: 100%;
    max-width: 250px;
    border-left: none;
    border-right: none; } }
.technologies {
  padding-top: 83px;
  padding-bottom: 70px; }

.technologies-paragraph {
  text-align: center;
  font: 2.4rem/1 "Kaushan Script", cursive; }

.technologies-heading {
  position: relative;
  font: bold 3rem/1 'Montserrat', sans-serif;
  margin-top: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px; }
  .technologies-heading::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 65px;
    left: 50%;
    transform: translateX(-50%); }

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.technologies-list-item {
  padding-bottom: 35px;
  margin-top: 50px;
  position: relative;
  width: calc(100% / 3); }
  .technologies-list-item > div {
    padding-left: 91px; }
  .technologies-list-item::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 30px;
    background-repeat: no-repeat;
    background-position: center; }
  .technologies-list-item h4 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.4rem; }
  .technologies-list-item p {
    font: 1.5rem/2.4rem 'Roboto', sans-serif;
    color: #999999;
    width: 65%; }
  .technologies-list-item:nth-child(-n+3) {
    border-bottom: 1px solid #e5e5e5; }

.tech-photo::before {
  background-image: url("img/alarm.png"); }

.tech-design::before {
  background-image: url("img/line-graph.png"); }

.tech-creat::before {
  background-image: url("img/computer.png"); }

.tech-seo::before {
  background-image: url("img/book-2.png"); }

.tech-css::before {
  background-image: url("img/home.png"); }

.tech-digit::before {
  background-image: url("img/image.png"); }

@media (max-width: 1000px) {
  .technologies-list-item p {
    width: 80%; } }
@media (max-width: 800px) {
  .technologies {
    padding-top: 40px;
    padding-bottom: 35px; }

  .technologies-list-item {
    width: 50%;
    padding-bottom: 20px;
    margin-top: 35px; }
    .technologies-list-item:nth-child(4) {
      border-bottom: 1px solid #e5e5e5; } }
@media (max-width: 550px) {
  .technologies-list-item {
    padding-bottom: 10px;
    margin-top: 25px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5; } }
.design {
  padding-top: 86px;
  background: center url("img/Layer45.jpg") no-repeat;
  background-size: cover;
  text-align: center; }

.design-paragraph {
  font: 2.4rem/1 "Kaushan Script", cursive; }

.design-heading {
  position: relative;
  font: bold 3rem/1 'Montserrat', sans-serif;
  margin-top: 24px;
  text-transform: uppercase;
  margin-bottom: 88px;
  text-align: center; }
  .design-heading::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 65px;
    left: 50%;
    transform: translateX(-50%); }

.design-img-wrapper {
  margin: 0 auto;
  position: relative;
  width: 600px;
  transform: translateX(6%); }
  .design-img-wrapper img {
    display: block;
    width: 100%; }

.design-tablet {
  width: 80%; }

.design-phone {
  width: 35%;
  position: absolute;
  right: 0;
  bottom: -14%; }

@media (max-width: 800px) {
  .design-img-wrapper {
    width: 75%; }

  .design {
    padding-top: 40px; }

  .design-heading {
    margin-bottom: 40px; } }
.service {
  padding-top: 85px;
  padding-bottom: 120px; }

.service-paragraph {
  font: 2.4rem/1 "Kaushan Script", cursive;
  text-align: center; }

.service-heading {
  position: relative;
  font: bold 3rem/1 'Montserrat', sans-serif;
  margin-top: 24px;
  text-transform: uppercase;
  margin-bottom: 85px;
  text-align: center; }
  .service-heading::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 65px;
    left: 50%;
    transform: translateX(-50%); }

.service-text {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font: 1.5rem/2.4rem "Roboto", sans-serif;
  color: #999999;
  margin-top: 85px;
  text-align: center; }

.service-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 75px; }

.service-img {
  width: 47.5%; }
  .service-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.service-accordion-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%; }

.accordion-item {
  display: flex;
  flex-direction: column; }

.service-accordion-label {
  position: relative;
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 22px 60px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  font: 14px/1 'Montserrat', sans-serif;
  cursor: pointer;
  user-select: none; }
  .service-accordion-label::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat; }
  .service-accordion-label::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: calc(50% - 13px);
    right: 20px;
    transform: rotate(45deg);
    transform-origin: 75% 75%;
    border-bottom: 3px solid #cccccc;
    border-right: 3px solid #cccccc;
    transition: transform .3s ease; }

.ac-1::before {
  background-image: url("img/picture.png"); }

.ac-2::before {
  background-image: url("img/equalizer.png"); }

.ac-3::before {
  background-image: url("img/bullseye.png"); }

.service-accordion-wrapper div:first-child .service-accordion-label {
  margin-top: 0; }

.service-accordion-content-wrapper {
  padding-right: 24px;
  transition: padding .3s ease;
  border: 1px solid #e5e5e5;
  border-top: none;
  border-bottom: none; }
  .service-accordion-content-wrapper p {
    margin: 0; }

.service-accordion-content {
  overflow: hidden;
  height: 0;
  padding: 0 20px;
  transition: height .3s ease;
  font: 300 italic 1.5rem/2.4rem 'Roboto', sans-serif;
  color: #999999; }

.service-accordion-input {
  display: none; }
  .service-accordion-input:checked ~ .service-accordion-content-wrapper {
    transition: padding .3s ease;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 24px 20px 0; }
    .service-accordion-input:checked ~ .service-accordion-content-wrapper .service-accordion-content {
      height: 139px;
      overflow-y: auto;
      transition: height .3s ease; }
  .service-accordion-input:checked + .service-accordion-label {
    cursor: auto; }
    .service-accordion-input:checked + .service-accordion-label::after {
      transform: rotate(225deg); }

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #95e1d3 #f5f5f5; }
  .scrollbar::-webkit-scrollbar {
    width: 5px; }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 2.5px;
    background-color: #f5f5f5; }
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: #95e1d3; }

@media (max-width: 850px) {
  .service-wrapper {
    flex-direction: column;
    align-items: center; }

  .service-img {
    width: 80%; }

  .service-accordion-wrapper {
    margin-top: 45px;
    width: 80%; } }
@media (max-width: 450px) {
  .service-img {
    width: 100%; }

  .service-accordion-wrapper {
    width: 100%; } }
.quote {
  padding: 70px 0;
  background-color: #f8f8f8; }

.slider-wrapper {
  position: relative;
  padding: 0 110px; }

.slider-item {
  display: flex;
  width: 100%;
  min-height: 150px; }

.owl-prev span,
.owl-next span {
  display: none; }

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px; }
  .owl-carousel .owl-nav button.owl-next::before,
  .owl-carousel .owl-nav button.owl-prev::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-right: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    transform-origin: 75% 75%; }

.slider-wrapper .owl-nav button.owl-prev {
  left: 25px; }
  .slider-wrapper .owl-nav button.owl-prev::before {
    transform: rotate(135deg); }

.slider-wrapper .owl-nav button.owl-next {
  right: 25px; }
  .slider-wrapper .owl-nav button.owl-next::before {
    transform: rotate(-45deg); }

.owl-dots {
  display: none; }

.quote-item-img {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  border: 3px solid #95e1d3;
  background-repeat: no-repeat;
  background-position: center; }

.quote-item-1-img {
  background-image: url("img/SPEECH-4.png"); }

.quote-content {
  margin: 0;
  margin-left: 60px; }

.quote-text {
  margin: 0;
  font: 300 italic 2.4rem/1.5 'Roboto', sans-serif;
  color: #999999; }

.quote-author {
  margin-top: 15px;
  font: 2.4rem/1 "Kaushan Script", cursive; }
  .quote-author::before {
    display: inline-block;
    margin-right: 10px;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    vertical-align: middle; }

@media (max-width: 850px) {
  .slider-wrapper {
    padding: 0 40px; }

  .slider-wrapper .owl-nav button.owl-prev {
    left: 0; }

  .slider-wrapper .owl-nav button.owl-next {
    right: 0; }

  .quote-item-img {
    width: 100px;
    height: 100px; }

  .quote-text {
    font-size: 2rem; }

  .quote-content {
    margin-left: 30px; } }
@media (max-width: 500px) {
  .slider-item {
    flex-direction: column;
    align-items: center; }

  .slider-wrapper {
    padding: 0 30px; }

  .quote-content {
    margin-top: 10px;
    margin-left: 0; }

  .quote-text {
    font-size: 1.6rem; }

  .quote-author {
    font-size: 2rem;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
